/* ========================================================================= */
/* Header
/* ========================================================================= */

.header__portrait {
    height: 80vh;
    margin: auto;  
}

.header__portrait--home {
    @extend .header__portrait;
    background-image: url(../images/portrait-home.png);
    background-size: cover;
    margin-top: 8vh;
}

.header__portrait--about {
    @extend .header__portrait;
    background-image: url(../images/portrait-about.png);
    background-size: cover;
    margin-top: 8vh;
}

.header__portrait--articulos {
    @extend .header__portrait;
    background-image: url(../images/portrait-articles.png);
    background-size: cover;
    margin-top: 8vh;
}

.header__portrait--proyectos {
    @extend .header__portrait;
    background-image: url(../images/portrait-projects.png);
    background-size: cover;
    margin-top: 8vh;
}

.header__portrait--colaborar {
    @extend .header__portrait;
    background-image: url(../images/portrait-collaborate.png);
    background-size: cover;
    margin-top: 8vh;
}

.header__portrait--text {
    height: 80vh;
    padding-left: 5vw;

    h1 {
        text-align: left;

    h4 {
        text-align: left;
        
        }

    }
  
}
