/* ========================================================================= */
/* Headers Posts
/* ========================================================================= */

.header__portrait--introduccion {
    @extend .header__portrait;
    background-image: url(../images/post-portrait-intro.png);
    background-size: cover;
}

.header__portrait--instalacion {
    @extend .header__portrait;
    background-image: url(../images/portada-carrousel-installation.png);
    background-size: cover;
}

.header__portrait--tutoriales {
    @extend .header__portrait;
    background-image: url(../images/post-portrait-tutorials.png);
    background-size: cover;
}

.header__portrait--avanzados {
    @extend .header__portrait;
    background-image: url(../images/post-portrait-advanced.png);
    background-size: cover;
}

/* ========================================================================= */
/* Iframe Posts
/* ========================================================================= */

.iframe__style {
    margin: auto; 
    width: 50vw; 
    height: 200vh;
}
